In [11]:
for i in (1,2,2, 10):
    print("a =", 2+i)

a = 3
a = 4
a = 4
a = 12

In [14]:
a = 10.0
type(a)

float

In [15]:
CONSTANT #constanti se pishat s glavni bukvi

NameError: name 'CONSTANT' is not defined

In [17]:
if 3 < 5:
    print("true")

true

In [19]:
int_var = float(52)
type (int_var)

float

In [22]:
for i in range(5, 48):
    print (i)
    if i > 42:
        break  #spira cikyla

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43

In [24]:
for i in range(5, 48):
    print (i)
    if i % 2 == 0: #proverka dali e chetno
        break

5
6

In [26]:
def square(x):   #syzdawa funkciqta s parametri
    print(x**2)

In [28]:
square(5)

25

In [34]:
def square(num, num2):   #syzdawa funkciqta s parametri
    print(num*num2)

In [35]:
square(3,5)  #brojat parametri trjabva da otgovarja na definiranite

15

In [41]:
def sum_numbers(a,b):
    if (type(a) != int or type(b) != int):
        print("error")
        return
    return a + b  #ideomatic Python

In [45]:
sum_numbers("5a", -10)

error

In [54]:
def sum_numbers(a,b):
    try:
        a_num = int(a)  #obrysta gi v celochisleni ili vrysta greshka
        b_num = int(b)
    except: 
        print("error")
        
    print(a_num + b_num)

In [55]:
sum_numbers(45.6,23.7)

68

In [57]:
def sum_numbers(a):
    def sum_two_numbers(b):
        return a+b
    return sum_two_numbers

In [59]:
sum_with_10 = sum_numbers(10)

In [61]:
sum_numbers(10)(32)

42

In [62]:
numbers = list([2,3,4, "string"]) #list, mojem da iskame daden element

In [65]:
numbers[0]

2

In [68]:
len(numbers) #vrysta dyljinata na lista

4

In [69]:
for i in numbers:
    print(i)

2
3
4
string

In [74]:
numbers = list(range(100))

In [75]:
min(numbers), max(numbers)

(0, 99)

In [76]:
numbers[0:4] #wzema otrqzyk

[0, 1, 2, 3]

In [77]:
numbers[35:] #ot 35 do kraja

[35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [78]:
ref_numbers = numbers
val_numbers = numbers[:]

In [79]:
ref_numbers[10]

10

In [81]:
val_numbers[15]

15

In [84]:
numbers[20:10: -1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

In [85]:
numbers[5:30:5] #prez pet

[5, 10, 15, 20, 25]

In [86]:
import numpy as np

In [95]:
random_numbers = list(np.random.randint(10,1000,1000))

In [91]:
def get_max_number(numbers):
    max_number = 1
    for number in numbers:
        max_number = number
    return max_number

In [94]:
get_max_number(random_numbers)

892

In [97]:
np.random.randint(10,1000,100)

array([521, 808, 274, 214, 515, 421, 923, 809, 784, 509, 170, 690, 467,
       695, 333, 998, 435, 399, 940, 791, 720, 754, 351, 911,  18, 688,
       238, 634, 885, 870, 561, 489, 237, 132,  61, 906, 281, 798, 381,
       186, 973,  96, 835, 199, 726, 562, 978, 650,  90, 724,  14, 941,
        17, 275,  93, 453, 310, 414, 946, 179, 352, 500, 205, 383, 394,
       852, 538, 205, 601, 102, 139, 108, 813, 106, 937, 536, 585, 104,
       282, 704, 604, 171, 248, 296, 289, 852, 399, 755, 829, 132, 133,
       128, 174, 273, 835, 196, 561,  47, 208, 104])

In [99]:
sum(random_numbers)

488820

In [100]:
def project(arr,func):
    result = []
    for element in arr:
        result.append(func(element))
        
    return result

In [101]:
multipl_2 = lambda x: x * 2 #definira anonimna funkcia

In [102]:
multipl_2(5)

10

In [104]:
project(random_numbers[:10],multipl_2)

[1336, 284, 1748, 1272, 28, 360, 1930, 1006, 1216, 356]

In [106]:
list(map(lambda x: x*2, random_numbers[:10]))

[1336, 284, 1748, 1272, 28, 360, 1930, 1006, 1216, 356]

In [107]:
list(filter(lambda x: x%2 ==0, random_numbers[:20]))

[668, 142, 874, 636, 14, 180, 608, 178, 274, 70, 208, 636, 900, 640, 940, 786]

In [108]:
sum(random_numbers)/len(random_numbers) #sredno

488.82